
HTTP_SERVER_HOST=127.0.0.1
HTTP_SERVER_PORT=8080

PROFILE_IMAGES_BACKEND=render

PROFILE_IMAGES_CONTENT_URL=http://127.0.0.1:8081/content

PROFILE_IMAGES_GODOT_BIN=<CONTENT_ROOT>/godot-explorer/exports/decentraland.godot.client.x86_64
PROFILE_IMAGES_GODOT_PROJECT=<CONTENT_ROOT>/godot-explorer

PROFILE_IMAGES_RENDERING_METHOD=gl_compatibility
PROFILE_IMAGES_RENDERING_DRIVER=opengl3
PROFILE_IMAGES_GODOT_HEADLESS=false
PROFILE_IMAGES_RENDER_TIMEOUT_SECONDS=120
PROFILE_IMAGES_RENDER_MAX_CONCURRENT=1

PROFILE_IMAGES_RENDER_FALLBACK_PROXY=false

# REQUIRED -- this deployment's own profile-images origin. No default.
PROFILE_IMAGES_ORIGIN_URL=

PROFILE_IMAGES_CACHE_DIR=<DATA_DIR>/profile-images
PROFILE_IMAGES_CACHE_TTL_SECONDS=86400

RUST_LOG=catalyrst_profile_images=info,tower_http=info
